# Ignore Python virtual environment
venv/
.env
*.env

# Byte-compiled / cached files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore VS Code workspace settings
.vscode/

# Ignore logs and database dumps
logs/
*.log
*.sqlite3
dump.sql

# Ignore Python packaging files
*.egg-info/
dist/
build/
